<template>
	<div class="ask">
		<div class="ask__bg">
			<picture>
				<source srcset="@/assets/images/intro-bg.avif" type="image/avif">
				<source srcset="@/assets/images/intro-bg.webp" type="image/webp">
				<source srcset="@/assets/images/intro-bg.png" type="image/png">
				<img src="@/assets/images/intro-bg.png" alt="">
			</picture>
		</div>
		<div class="container">
			<h1 v-text="pageData.question ? pageData.question : 'From science fiction to reality'" class="visually-hidden">
			</h1>
			<p class="ask__title h1-title">From <span class="h1-title">science</span> fiction to reality</p>
			<p class="ask__text">Get an instant response to all your questions</p>
			<form class="form">
				<label for="question" class="form__input-wrap">
					<textarea ref="textarea" id="question" class="form__input" placeholder="Ask any question..." v-model="pageData.question" v-debounce:300ms="setAutoHeight" :debounce-events="['input']">
					</textarea>
					<div class="form__answer" v-html="pageData.answer"></div>
				</label>
				<div class="flex">
					<div class="form__left-block" v-show="pageData.answer">
						<div class="form__label">Rate the answer</div>
						<div class="form__button-wrap">
							<button :class="{ 'form__button': true, 'form__dislike': true, 'active': pageData.dislikedByUser }" @click.prevent="sendVote('ToggleDislike', setDislike)">
								<svg>
									<use xlink:href="@/assets/images/sprites.svg#thumb"></use>
								</svg>
							</button>
							<button :class="{ 'form__button': true, 'active': pageData.likedByUser }" @click.prevent="sendVote('ToggleLike', setLike)">
								<svg>
									<use xlink:href="@/assets/images/sprites.svg#thumb"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="form__right-block">
						<ShareButton 
							v-show="pageData.url"
							class="form__share"
							:url="pageData.url"
						/>
						<PreloaderComponent v-show="isLoading" class="form__preloader"/>
						<button type="button" :disabled="isLoading || pageData.question.length === 0 ? true : false" class="ask__clear"
							@click.prevent="clearForm">Clear</button>
						<button type="button" :disabled="isLoading || pageData.question.length === 0 ? true : false" class="ask__question" @click.prevent="sendQuestion(questionUrl)">
							<span class="ask__question-text">Ask a question</span>
							<span class="ask__question-count">
								1
								<svg>
									<use xlink:href="@/assets/images/sprites.svg#light"></use>
								</svg>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<RecommendedQuestions :rocommendedQuestions="pageData.recommendedQuestions"/>

	<Teleport to="body">
		<MessageModal>
			<div v-show="!isAuth && !isError" class="message-modal__buttons">
				<button @click="hideMessage" class="message-modal__close-btn" type="button">
					Try Later
				</button>
				<button @click="login" type="button" class="sign-up__button">
					<span>Sign In</span>
					<div class="sign-up__icon-gmail"></div>
				</button>
			</div>
		</MessageModal>
	</Teleport>
</template>

<script lang="ts" setup>

import { ref, computed, onMounted, watchEffect, reactive } from 'vue'
import RecommendedQuestions from '@/components/recommended/RecommendedQuestions.vue'
import { getTokenPopup } from '@/plugin/authPopup'
import { tokenRequest } from '@/plugin/authConfig'
import MessageModal from '@/components/ui/MessageModal.vue'
import PreloaderComponent from '../ui/PreloaderComponent.vue'
import ShareButton from '../ui/ShareButton.vue'
import { signIn } from '@/plugin/authPopup'

import store from '@/store'

import router from '@/router';
import { useRequest } from '@/hooks/useRequest'
import { replaceWithBr } from '@/hooks/useReplaceBr'

import { PageData } from '@/interfaces/PageTypes'

const pageData: PageData = reactive({
	url: '',
	question: '',
	answer: '',
	category: '',
	likedByUser: null,
	dislikedByUser: null,
	recommendedQuestions: [],
})

const apiKey: string = process.env.VUE_APP_API_KEY
const apiUrl: string = process.env.VUE_APP_API_URL

const getIsAuth = computed(() => {
	return store.getters.getAuthenticated
})

const isError = computed(() => {
	return store.getters.getPageInfo
})

const isAuth = ref(getIsAuth)

const isLoading = ref(false)

const pathName = ref(window.location.href)

const textarea = ref<HTMLTextAreaElement>()

const getQuestionUrl = computed(() => {
	return isAuth.value ? `${apiUrl}/Question/ProcessAuthenticated` : `${apiUrl}/Question/ProcessAnonymous`
})
const getResponse = async function() {
  const token = await getTokenPopup(tokenRequest)
	return token
}
const setResponseToken = async function (token: any) {
  tokenResponse.value = await token
}
const tokenResponse = ref()
const getHeaders = computed(() => {
	return isAuth ? {
		'Ocp-Apim-Subscription-Key': `${apiKey}`,
		'Content-Type': 'application/json',
		Authorization: `Bearer ${tokenResponse.value?.accessToken}`,
	} : {
		'Ocp-Apim-Subscription-Key': `${apiKey}`,
		'Content-Type': 'application/json',
	}
})

const questionUrl = ref(getQuestionUrl)

const responseHeaders = ref(getHeaders)
const messages = {
	LikeAnonimous: 'Sign in to get unlimited answers!',
	TooMuchRequestsAnonimous: 'Sign in to get unlimited answers!',
	TooMuchRequestsAuthentication: 'Try a bit later!',
	PegeNotFound: 'Page not found, you"ll be redirected to the main page'
}
function updatePageData(data: PageData) {
	pageData.url = data.url
	pageData.question = data.question,
	pageData.answer = replaceWithBr(data.answer),
	pageData.category = data.category,
	pageData.likedByUser = data.likedByUser,
	pageData.dislikedByUser = data.dislikedByUser,
	pageData.recommendedQuestions = data.recommendedQuestions
}
async function sendQuestion(url: string) {
	try {
		isLoading.value = true
		const { status, data } = await useRequest(
			url,
			'POST',
			responseHeaders.value,
			{
				question: pageData.question,
			}
		)
		if (status === 429) showModal(messages.TooMuchRequestsAnonimous)
		if (data) {
			updatePageData(data)
			setMetaData()
			setPathName(data.url)
		}
		isLoading.value = false
	} catch (e) {
		console.error(e);
		isLoading.value = false
	}
}

async function getPageByUrl(url: string) {
	try {
		isLoading.value = true
		const { status, data } = await useRequest(
			url,
			'GET',
			responseHeaders.value,
			null
		)
		if (status === 404) {
			showModal(messages.PegeNotFound)
			store.dispatch('pageNotFound')
		}
		if (data) {
			updatePageData(data)
			setMetaData()
		}
		isLoading.value = false
	} catch(e) {
		console.error(e)
		isLoading.value = false
	}
}

async function sendVote(methodName: string, setVote: Function) {
	if (!isAuth) {
		showModal(messages.LikeAnonimous)
	}
	const { data } = await useRequest(
		`${apiUrl}/Question/${methodName}/${pageData.url}`,
		'POST',
		responseHeaders.value,
		null
	)
	if (data) {
		setVote()
	}
}

function setLike() {
  pageData.likedByUser = true
	pageData.dislikedByUser = false
}
function setDislike() {
  pageData.dislikedByUser = true
	pageData.likedByUser = false
}

function showModal(message: string): void {
	store.dispatch('openModal', message)
}
function setPathName(url: string) {
	router.push({
		name: 'recommended',
		params: {
			url
		}
	})
}
function setAutoHeight() {
	textarea.value!.style.height = 'auto'
	textarea.value!.style.height = textarea.value!.scrollHeight + 2 + "px"
}
function hideMessage() {
	store.dispatch('closeModal')
}

function clearForm() {
	pageData.answer = ''
	pageData.question = ''
	pageData.url = ''
	pageData.likedByUser = false
	pageData.dislikedByUser = false
	router.push('/')
}

function login() {
	signIn(loginCompleted)
}
function loginCompleted() {
	store.dispatch('setAuthenticated')
}
function getPathName() {
	pathName.value = window.location.href.split('/')
		.splice(-1)
		.join('')
}

function limitStr() {
	const str = pageData.answer
	if (str.length > 250) {
		str.slice(0, 250)
	}
	return str
}
function setMetaData() {
	const head = document.head as HTMLHeadElement
	const title = head.querySelector('title') as HTMLTitleElement
	const metaDescription = head.querySelector('meta[name="description"]') as HTMLMetaElement
	title.textContent = pageData.question
	metaDescription.setAttribute('content', limitStr())
}

watchEffect(onInvalidate => {
	const newUlr = router.currentRoute.value.fullPath
  onInvalidate(async () => {
    pathName.value = newUlr
    if (pathName.value.length > 1) {
      await getPageByUrl(`${apiUrl}/Question/ByUrl/${pathName.value}`)
    } 
  })
	
})
watchEffect(() => {
  const updatedIsAuth = isAuth.value
  if (updatedIsAuth.value) setResponseToken(getResponse())
})
onMounted(() => {
	getPathName()
  
	if (pathName.value.length > 1) getPageByUrl(`${apiUrl}/Question/ByUrl/${pathName.value}`)
})
</script>

<style scoped lang="scss">
.ask {
  position: relative;
  padding-bottom: 200px;
  min-height: calc(100vh - 150px);

  &__title {
    font-weight: 400;
    color: #a0a1a6;
    text-align: center;
    margin-bottom: 25px;
  }

  &__title span {
    color: #ffffff;
  }

  &__text {
    font-size: 2.4rem;
    font-weight: 400;
    color: #a0a1a6;
    text-align: center;
    margin-bottom: 70px;
  }

  &__clear {
    border: 2px solid var(--white-color);
    border-radius: 18px;
    background: transparent;
    color: var(--white-color);
    padding: 15px 20px;
    margin-right: 18px;
    transition: 0.3s color ease-in-out, 0.3s border-color ease-in-out;
    &:disabled {
		border-color:rgba(255, 255, 255, 0.6);
		color: rgba(255, 255, 255, 0.6);
		pointer-events: none;
    }
  }

  &__question {
    border-radius: 18px;
    background: var(--white-color);
    padding: 15px 32px;
    transition: 0.3s color ease-in-out, 0.3s border-color ease-in-out, 0.3s background-color ease-in-out;
	&:disabled {
		opacity: .5;
		pointer-events: none;
	}

    & span {
      color: #224efe;
      font-size: 2rem;
      font-weight: 500;
      transition: 0.3s color ease-in-out;
    }

    & svg {
      transition: 0.3s fill ease-in-out;
    }
  }

  &__question-text {
    padding-right: 30px;
    border-right: 2px solid #d9d9d9;
  }

  &__question-count {
    padding-left: 37px;
    position: relative;
  }

  &__question-count svg {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 16px;
    fill: #224efe;
  }

  &__bg {
    position: absolute;
    top: -125px;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;

    & :is(img) {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.form {
  position: relative;
  max-width: 1024px;
  width: 100%;
  background: linear-gradient(181.25deg, #224efe -41.38%, #0e36d6 87.57%);
  box-shadow: 0px 34px 64px 0px #00000040;
  border-radius: 30px;
  text-align: center;
  padding: 26px 29px 32px;
  margin: 0 auto;

  &__input-wrap {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border-style: none;
    padding: 15px 30px;
    min-height: 230px;
    margin-bottom: 25px;
  }

  &__input {
    display: block;
    background: transparent;
    border: none;
    font-size: 2.4rem;
    font-weight: 400;
    outline: none;
    width: calc(100% - 133px);
    resize: none;
    box-sizing: border-box;
    height: 50px;
    min-height: 50px;
	transition: .3s color ease-in-out;
	&::-webkit-scrollbar {
      width: 0;
    }
	&, &::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
	&:focus {
		color: rgba(255, 255, 255, 1);
	}
  }

  &__answer {
    padding-left: 24px;
    text-align: start;
    border-left: 2px solid #ffffff;
    border-radius: 2px;
    width: calc(100% - 133px);
  }

  &__left-block,
  &__right-block {
    display: flex;
    align-items: center;
  }

  &__right-block {
	position: relative;
    margin-left: auto;
  }
  &__preloader {
	left: -60px;
  }
  &__label {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 20px;
  }

	&__dislike {
		position: relative;
		top: 10px;
		margin-right: 15px;
		& svg {
			transform: rotate(180deg);
		}
	}

  &__button {
    cursor: pointer;
    background-color: transparent;

    & svg {
      display: block;
      width: 30px;
      height: 30px;
      fill: transparent;
      stroke: rgba(255, 255, 255, 0.2);
    }

    &.active {
      pointer-events: none;

      & svg {
        fill: rgba(255, 255, 255, 0.6);
      }
    }
  }

	&__share {
		margin-right: 15px;
	}
}

.message-modal__buttons {
  display: flex;
}

.message-modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  padding: 0 55px;
  margin-right: 20px;
  font-size: 2rem;
  font-weight: 500;
  color: #7f8186;
  background-color: #1d1f20;
  transition: 0.3s background-color ease-in-out;

  &:hover {
    background-color: #224efe;
  }
}

@media screen and (max-width: 1440px) and (min-width: 991px), screen and (max-height: 900px) {
  .ask {
    min-height: calc(100vh - 33px);
  }
}

@media screen and (max-width: 991px) {
  .ask {
    min-height: calc(100vh - 100px);

    &__title,
    &__title span {
      font-size: 3.8rem;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      font-size: 1.6rem;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    padding: 11px 10px 80px;

    &__input,
    &__answer {
      font-size: 1.6rem;
      width: 100%;
    }

    &__input-wrap {
      padding: 16px 18px;
      margin-bottom: 17px;
      min-height: 120px;
    }

    &__label {
      display: none;
    }

    &__left-block {
      position: absolute;
      bottom: 0;
    }

    &__right-block {
      display: block;
    }

    &__button {
      position: relative;
      bottom: 20px;
      left: 30px;
    }
		&__preloader {
			left: 50%;
			top: 75px;
			transform: translateX(-50%);
		}

		&__share {
			margin-bottom: 10px;
		}

		&__dislike {
			position: relative;
			top: -10px;
			
		}
  }

  .ask {
    &__clear {
      opacity: 0.6;
      position: absolute;
      bottom: -70px;
      right: -18px;
    }

    &__question {
      padding: 15px;
    }

    &__question-text,
    &__question span {
      font-size: 1.8rem;
    }

    &__question-text {
      padding-right: 15px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }

  .flex {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  .ask {
    padding-bottom: 100px;
  }

  .ask__question {
    width: 100%;
  }
}
@media screen and (min-width: 991px) {
.ask {
  &__clear {
    &:hover {
      color: #1d1f20;
      border-color: #1d1f20;
    }
  }
  &__question {
    &:hover {
      border-color: var(--white-color);
      color: var(--white-color);
      background-color: #1d1f20;
    }
    &:hover span {
      color: var(--white-color);
    }
    &:hover svg {
      fill: var(--white-color);
    }
  }
}
.form {
  &__button {
    &:hover svg {
      stroke: rgba(255, 255, 255, 0.6);
    }
  }
}
.message-modal__close-btn {
  &:hover {
    background-color: #224efe;
  }
}
}
</style>
