<template>
  <section class="answers">
    <div class="answers__bg">
      <picture>
        <source srcset="@/assets/images/answers-bg.avif" type="image/avif" />
        <source srcset="@/assets/images/answers-bg.webp" type="image/webp" />
        <source srcset="@/assets/images/answers-bg.png" type="image/png" />
        <img src="@/assets/images/answers-bg.png" alt="" />
      </picture>
    </div>
    <div class="container">
      <h2 class="h1-title answers__title">More of <span>Q</span>and<span>A</span>s</h2>
      <p class="answers__description">Select your topic of interest</p>
      <div class="answers__drop drop-menu">
        <div
          :class="modalSelectIsOpen ? 'open' : ''"
          @click="modalSelectIsOpen = !modalSelectIsOpen"
          class="drop-menu__field"
        >
          <p class="drop-menu__text">
            {{ chosenCategoryName }}
          </p>
          <svg class="drop-menu__icon">
            <use xlink:href="@/assets/images/sprites.svg#arrow"></use>
          </svg>
        </div>
        <ul :class="modalSelectIsOpen ? 'open' : ''" class="answers__categories categories">
          <CategoryButton
            v-for="answer in answerCategories"
            :key="answer.id"
            :data-id="answer.id"
            :text="answer.name"
            :isChoosen="answer.isChoosen"
            @getCategoryId="setCategoryId"
          />
        </ul>
      </div>

      <masonry-wall
        :class="isLoading ? 'load' : ''"
        :items="topAnswers"
        :column-width="setCategoryMaxWidth()"
        :gap="40"
      >
        <template #default="{ item, index }">
          <AnswerCard 
            :answer="item.answer"
            :question="item.question"
            :url="item.url"
            :category="item.category"
            :index="index" 
          />
        </template>
      </masonry-wall>

      <div class="answers__pagination" v-show="continuationToken">
        <PreloaderComponent v-show="isLoading" />
        <button
          v-show="!isLoading"
          @click="showMore(`${apiUrl}/Question/TopByCategory?PageSize=9`)"
          class="answers__show-more"
        >
          Show more
        </button>
      </div>
    </div>
  </section>
</template>

<script lang="ts" setup>

import MasonryWall from '@yeger/vue-masonry-wall'
import { ref, onMounted } from 'vue'
import AnswerCard from '@/components/answers/AnswerCard.vue'
import CategoryButton from '@/components/answers/CategoryButton.vue'
import PreloaderComponent from '@/components/ui/PreloaderComponent.vue'

import { AnswerCategoriesTypes } from '@/interfaces/AnswerCategoriesTypes.js'
import { PageData } from '@/interfaces/PageTypes.js'

import { useRequest } from '@/hooks/useRequest'

const apiKey: string = process.env.VUE_APP_API_KEY
const apiUrl: string = process.env.VUE_APP_API_URL

const currentCategory = ref<null | number>(null)
const isLoading = ref<boolean>(false)

const topAnswers = ref<Array<PageData>>([])
const continuationToken = ref<null | string>(null)
const modalSelectIsOpen = ref<boolean>(false)
const chosenCategoryName = ref<null | string>(null)

const answerCategories = ref<Array<AnswerCategoriesTypes>>([
  {
    name: 'Top',
    id: 'category-id-0',
    isChoosen: false,
  },
  {
    name: 'Technology',
    id: 'category-id-1',
    isChoosen: false,
  },
  {
    name: 'Science',
    id: 'category-id-2',
    isChoosen: false,
  },
  {
    name: 'Business',
    id: 'category-id-3',
    isChoosen: false,
  },
  {
    name: 'Health And Fitness',
    id: 'category-id-4',
    isChoosen: false,
  },
  {
    name: 'Education',
    id: 'category-id-5',
    isChoosen: false,
  },
  {
    name: 'Travel',
    id: 'category-id-6',
    isChoosen: false,
  },
  {
    name: 'Food And Drinks',
    id: 'category-id-7',
    isChoosen: false,
  },
  {
    name: 'Politics And Government',
    id: 'category-id-8',
    isChoosen: false,
  },
  {
    name: 'Lifestyle And Beauty',
    id: 'category-id-9',
    isChoosen: false,
  },
  {
    name: 'Entertainment And Music',
    id: 'category-id-10',
    isChoosen: false,
  },
  {
    name: 'Sports',
    id: 'category-id-11',
    isChoosen: false,
  },
  {
    name: 'Religion And Spirituality',
    id: 'category-id-12',
    isChoosen: false,
  },
  {
    name: 'Philosophy And Psychology',
    id: 'category-id-13',
    isChoosen: false,
  },
  {
    name: 'Culture History And Languages',
    id: 'category-id-14',
    isChoosen: false,
  },
  {
    name: 'Relationships',
    id: 'category-id-15',
    isChoosen: false,
  },
  {
    name: 'Finance And Investing',
    id: 'category-id-16',
    isChoosen: false,
  },
  {
    name: 'Automobiles And Transportation',
    id: 'category-id-17',
    isChoosen: false,
  },
  {
    name: 'Careers And Workplace',
    id: 'category-id-18',
    isChoosen: false,
  },
  {
    name: 'Arts And Humanities',
    id: 'category-id-19',
    isChoosen: false,
  },
])
async function getQuestions(url: string) {
  try {
    const { data } = await useRequest(
      url,
      'GET',
      {
        'Ocp-Apim-Subscription-Key': `${apiKey}`,
        'Content-Type': 'application/json',
      },
      null
    )
    
    topAnswers.value = data.items
    continuationToken.value =
      (data.continuationToken) === null
        ? data.continuationToken
        : JSON.stringify(data.continuationToken).slice(1, -1)
  } catch (e) {
    console.error(e)
  }
}
async function showMore(url: string) {
  try {
    isLoading.value = true
    const { data } = await useRequest(
      url,
      'GET',
      {
        'Ocp-Apim-Subscription-Key': `${apiKey}`,
        'X-Continuation-Token': `${continuationToken.value}`,
        'Content-Type': 'application/json',
      },
      null
    )
    const newItems: Array<PageData> = data.items
    for (let i = 0; i < newItems.length; i++) {
      topAnswers.value = [...topAnswers.value, newItems[i]]
    }

    continuationToken.value =
      (data.continuationToken) === null
        ? data.continuationToken
        : JSON.stringify(data.continuationToken).slice(1, -1)
    isLoading.value = false
  } catch (e) {
    console.error(e)
  }
}
function setCategoryId(event: HTMLButtonElement) {
  if (event.dataset.id) {
    const id = +event.dataset.id
    clearChoosenCategory()
    answerCategories.value[id].isChoosen = true
    currentCategory.value = id
    topAnswers.value = []
    modalSelectIsOpen.value = false
    const choosenKeyValue = Object.keys(answerCategories.value[id])
    chosenCategoryName.value = choosenKeyValue[0]
    if (currentCategory.value === 0) {
      getQuestions(`${apiUrl}/Question/TopByCategory?PageSize=9`)
    } else {
      getQuestions(`${apiUrl}/Question/TopByCategory?CategoryId=${currentCategory.value}&PageSize=9`)
    }
  }
}
function clearChoosenCategory() {
  for (let i = 0; i < answerCategories.value.length; i++) {
    answerCategories.value[i].isChoosen = false
  }
}

function setFirstCategoryActive() {
  const firstCategoryKeys = Object.keys(answerCategories.value[0])
  chosenCategoryName.value = firstCategoryKeys[0]
  answerCategories.value[0].isChoosen = true
}
function setCategoryMaxWidth(): number {
  if (window.matchMedia('(max-width: 991px)').matches) {
    return 335
  } else if (window.matchMedia('(max-width: 1440px)').matches) {
    return 480
  } else {
    return 550
  }
}
onMounted(() => {
  setFirstCategoryActive()
  getQuestions(`${apiUrl}/Question/TopByCategory?PageSize=9`)
})

</script>

<style scoped lang="scss">
.answers {
  position: relative;
  padding-bottom: 64px;

  &__bg {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;

    & :is(img) {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__title {
    margin-bottom: 30px;
    & span {
      color: var(--theme-color-1);
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__description {
    margin-bottom: 55px;
    line-height: 2;
    color: #a0a1a6;
  }

  &__drop {
    margin-bottom: 73px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 77px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 77px;
    color: #a0a1a6;
  }

  &__show-more {
    margin-left: 18px;
    background-color: transparent;
    color: var(--theme-color-1);
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1570px;
  width: 100%;
}

.drop-menu {
  &__field {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .answers {
    &__categories {
      margin-bottom: 55px;
    }
  }
  .masonry-column {
    gap: 20px !important;
  }
}
@media screen and (max-width: 991px) {
  .answers {
    padding-top: 70px;

    &__title {
      margin-bottom: 20px;
    }
    &__bg {
      top: 0;
      bottom: auto;
    }

    &__drop {
      margin-bottom: 40px;
    }

    &__pagination {
      margin-top: 40px;
    }
  }

  .masonry-column {
    gap: 15px !important;
  }

  .masonry-wall {
    gap: 18px !important;
  }

  .categories {
    gap: 20px 10px;
  }
}

@media screen and (max-width: 560px) {
  .answers {
    padding-top: 0;
  }
  .drop-menu {
    position: relative;

    &__field {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid var(--theme-color-1);
      border-radius: 18px;
      padding: 16px;
      background-color: transparent;
      cursor: pointer;
      z-index: 2;

      &.open {
        background-color: #e2e2e2;
      }
    }

    &__text {
      font-size: 1.4rem;
      font-style: italic;
      color: var(--theme-color-1);
    }

    &__icon {
      width: 14px;
      height: 8px;
      fill: var(--theme-color-1);
    }
  }

  .categories {
    position: absolute;
    top: 20px;
    flex-direction: column;
    gap: 0;
    border: 2px solid var(--theme-color-1);
    border-radius: 18px;
    display: none;
    padding: 40px 16px 18px 16px;
    background-color: #e2e2e2;
    z-index: 1;

    &.open {
      display: flex;
    }
  }
}
</style>
