<template>
  <button @click="toggleModal(props.index)" class="card__button">
    <svg>
      <use xlink:href="@/assets/images/sprites.svg#plus"></use>
    </svg>
  </button>
</template>

<script lang="ts" setup>

import { defineProps, defineEmits } from 'vue';

const props = defineProps({
  index: {
    type: Number,
    required: true,
  },
})
const emit = defineEmits(['BtnToggleModal'])

function toggleModal(i: number) {
  emit('BtnToggleModal', { index: i })
}

</script>
