<template>
    <AppAsk />
    <AnswersByCategory />
    <WhatWeDo />
    <SignUp v-if="!isAuth" />
</template>

<script lang="ts" setup>
    import store from '@/store'

    import AppAsk from '@/components/form/AppAsk.vue'
    import AnswersByCategory from '@/components/answers/AnswersByCategory.vue'
    import WhatWeDo from '@/components/blocks/WhatWeDo.vue'
    import SignUp from '@/components/blocks/SignUp.vue'

    import { ref, onBeforeMount, computed } from 'vue'

    const getIsAuth = computed(() => {
        return store.getters.getAuthenticated
    })

    const isAuth = ref(getIsAuth)

    onBeforeMount(() => {
        store.dispatch('isAuthenticated')
    })
</script>