<template>
  <HeaderComponent />
  <main>
    <RouterView></RouterView>
    
  </main>
  <FooterComponent />
  <CookieModal v-if="showCookieModal" />
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue'

import HeaderComponent from '@/components/blocks/Header.vue'

import FooterComponent from '@/components/blocks/Footer.vue'

import CookieModal from '@/components/ui/CookieModal.vue'
import '@/assets/styles/style.scss'

const showCookieModal = ref<boolean>(true)

onMounted(() => {
  isCookieHidden()
})

function isCookieHidden() {
  getCookie('hideCookieModal') || window.sessionStorage.getItem('hideCookieModal')
    ? (showCookieModal.value = false)
    : (showCookieModal.value = true)
}
function getCookie(name: string) {
  const matches = document.cookie.match(
    new RegExp('(?:^|; )' + name.replace(/([.$?*|{}()[\]\\/+^])/g, '\\$1') + '=([^;]*)')
  )
  return matches ? decodeURIComponent(matches[1]) : undefined
}
</script>
